$phones-mini: 320px;
$phones: 400px;
$phones-big: 565px;
$tablets: 767px;
$tablets-wp: 782px;
$tablets-big: 991px;
$desktop: 1199px;
$full-hd: 1438px;

$black: #000;
$text-black: #3A3A3A;
$white: #fff;
$onix-blue: #0072FF;
$select-blue: rgba(242, 248, 255, 1);
$select-blue03: rgba(242, 248, 255, 0.3);
$blizzard-blue: #AFE5F1;
$zumthor: #E5F0FF;
$Mirage: #121822;
$ddd: #ddd;
$eee: #eee;
$c555: #555;
$gray: #8891A3;
$text-gray: #6F7787;
$desc-gray: #F9F9F9;
$light-gray: #D1D5DB;
$eyes: #41FFD6;

//icons
$trach_icon: "\f182";
$box-shadow: 2px 0 3px 1px lightgray;
